/*================================
 Estilos Generales
==================================*/
@font-face {
  font-family: "Assistant";
  src: url("../fonts/Assistant/Assistant-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Assistant Semi Bold";
  src: url("../fonts/Assistant/Assistant-SemiBold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Assistant Bold";
  src: url("../fonts/Assistant/Assistant-Bold.ttf");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Amatic";
  src: url("../fonts/Amatic/AmaticSC-Regular.ttf");
  font-weight: bolder;
  font-style: normal;
}
body {
  font-family: 'Assistant';
}
a {
  color: #26201b;
  transition: all 0.3s ease;
}
h1,h2,h3,h4,h5,h6, .content h1, .content h2, .content h3, .content h4, .content h5,.content h6 {
  font-family: 'Amatic';
  color: #f98b60;
}
.content ul {
  list-style: none;
}
ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #f98b60; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/*================================
 HEADER
==================================*/

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 0 6px 6px -8px black;
	   -moz-box-shadow: 0 6px 6px -8px black;
	        box-shadow: 0 6px 6px -8px black;
}

/* Menu Princiapl
==================================*/

.nav-bar {
  height: 70px;
}

/*··························· Marca  */
.brand {
  line-height: 70px;
  font-size: 2em;
  font-family: Amatic;
  letter-spacing: 1px;
}
.brand a {
  color: #f98b60;
  font-weight: bold;
}

/*··························· Barra de Navegacion  */
nav ul li {
  float: left;
  position: relative;
}
nav ul li::before {
  content: unset;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Assistant Bold';
  letter-spacing: 1px;

}
nav ul li a:hover,
nav ul li a:visited:hover {
  color: #f98b60;
  background-color: #eee;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
  color: #f98b60;
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul {
  position: relative;
  background-color:   #312a24;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
  background-color: #312a24;
  color: #eee;
  text-transform: capitalize;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
}

/*================================
 CONTENIDO PRINCIPAL
==================================*/
main {
  min-height: 50vh;
  background-color: #fafafa;
}
.hero .title, .hero .subtitle {
  color: #eee;
  font-family: 'Amatic';
  text-align: center;
  position: relative;
  z-index: 2;
  font-size: 2rem;
}
.hero .subtitle {
  color: #f98b60;
}
.hero .title {
  font-size: 5rem;
}
.hero.banner {
  position: relative;
}
.banner::after {
	content: "";
  position: absolute;
  width: 100%;
  height: 100%;
	background: rgba(0,0,0,0.4);
	z-index: 0;
}

/* :::::::::: Vista Home :::::::::: */
#main-banner {
  background: url(../img/main-hero-home.jpg) top no-repeat  no-repeat;
}

/* :::::::::: Categorias :::::::::: */
.categories-banner-img {
  background: url(../img/categories-hero.jpg) bottom no-repeat  no-repeat;
}

/* :::::::::: Articulos :::::::::: */
.articulo-banner-ceviche {
  background: url(../img/recetas/ceviche-champinones.jpg) center/cover no-repeat;
}
.articulo-banner-pate-berenjena {
  background: url(../img/recetas/caviar-berenjenas.jpg) center/cover no-repeat;
}
.articulo-banner-ensalada-berro {
  background: url(../img/recetas/ensalada-de-berros.jpg) center/cover no-repeat;
}
.articulo-banner-pate-hummus {
  background: url(../img/recetas/hummus_2.jpg) center/cover no-repeat;
}
.articulo-banner-tofu-frito {
  background: url(../img/recetas/tofu-frito.jpg) center/cover no-repeat;
}




/*================================
 FOOTER
==================================*/
.footer {
  padding: unset;
  text-align: center;
}
.footer-top {
  background-color: #312a24;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom {
  background-color: #26201b;
}

/*================================
 Media Queries
==================================*/

@media only screen and (max-width: 798px) {
  .nav-mobile, header {
    display: block;
  }
  .nav-bar {
    position: relative;
    z-index: 100;
  }
  .nav-list {
    background-color: #eee;
  }
  .brand {
  float: left;
  padding-left: 20px;
  position: relative;
  z-index: 101;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
	padding-left: 25%;
	 
  }
  nav ul li ul li a {
    padding-left: 30%;
    color: #312a24;
    background-color: #ddd;
  }

  .nav-dropdown {
    position: static;
  }
	.brand a img {
		max-height: 60px;
		margin-top: 5px;
	}
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #312a24;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}



/* 
 *
 * COLORES
 =============

 Canvas: #fff
 Primordial: #312a24
 Secundario: #f98b60
 Terciario: #804380

 fOOTER = 
   - parte alta #312a24
   - parte baja #26201b
 

 */