/*================================
 GLOBALES
==================================*/
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
@font-face {
  font-family: "JosefinSans";
  src: url(../fonts/Josefin_Sans/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: "Abel";
  src: url(../fonts/Abel-Regular.ttf);
}
body {
  background-color: #726793;
  font-family: Abel, Candara, sans-serif;
  color: #ddd;
}

a {
  color: #ddd;
}
a:hover {
  text-decoration: underline;
}

/*================================
 CONTENIDO
==================================*/

/* :::::::::: MAIN:::::::::: */
main {
  min-height: 400px;
}

/* :::::::::: HEADER:::::::::: */

header {
  background-color: #1c2935;
}
/* :::::::::: Vista CATEGORIA:::::::::: */
.card .image {
  margin: 0 auto;
}
.card {
  background: none;
}
.categoria .columns {
  flex-wrap: wrap;
}
/* :::::::::: Vista SUBCATEGORIA :::::::::: */
.subcategoria .card-image {
  float: left;
}
.subcategoria .card-content {
  display: flex;
}
.subcategoria .card-header h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 0 1.5rem;
}
.subcategoria .card a {
  display: block;
  padding: 15px;
}
.spacer {
  clear: left;
}

/* :::::::::: Vista ARTICULO :::::::::: */
.articulo .hero {
  background-color: antiquewhite;
}


/*··························· Barra de Navegacion  */


/*··························· Caja de Busqueda (search box)  */
.search-form {
  display: flex;
  background-color: #fff;
  border-radius: 28px;
}
.search-form:focus-within {
  border: 3px solid aquamarine;
}
.search-box {
  width: 30%;
  color: aliceblue;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.search-box input[type="text"] {
  padding: 6px;
  border: none;
  font-size: 17px;
  border-radius: 28px 0 0 28px;
}
.boton-lupa {
  border: none;
  box-shadow: none;
  background-color: #fff;
  padding-right: 5px;
  border-radius: 28px;
}
/* :::::::::: RECETAS:::::::::: */
.contenedor-links-botones-grandes, .contenedor-links-botones-medianos {
  display: flex;
  justify-content: center;
}
.contenedor-links-botones-grandes a, .contenedor-links-botones-medianos a {
	display: flex;
	width: 200px;
	justify-content: center;
	height: 300px;
	flex-direction: column;
	align-items: center;
	font-size: 2rem;
	background: cadetblue;
  border-radius: 10px;
	margin-right: 5px;
}
.contenedor-links-botones-medianos a {
  width: 150px;
  height: 200px;
}
.titulo-seccion {
  font-size: 2rem;
  padding: 2rem 0;
}
/*================================
 Footer
==================================*/
footer {
  background: #1c2935;
  padding: 0;
  min-height: 200px;
}
.main-footer {
	min-height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.bottom-footer {
  background: #0e1924;
  display: flex;
  justify-content: center;
}

@media (max-width: 470px) {
}


main > .container {              /************************************/
  background-color: #5b5371;   /* PROVISORIO, SOLO PARA DESARROLLO */
}                                /************************************/
/* 

Colores: 
- Header bg: #1c2935
- Footer bg: #1c2935
- Main bg: #2b3e50


*/
