/*================================
 GLOBALES
==================================*/
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
@font-face {
  font-family: "JosefinSans";
  src: url(../fonts/Josefin_Sans/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: "Abel";
  src: url(../fonts/Abel-Regular.ttf);
}
body {
  background-color: #100e17;
  font-family: Abel, Candara, sans-serif;
  color: #ddd;
}

a {
  color: #ddd;
}
a:hover {
  text-decoration: underline;
}
.alineacion-centrado {
  text-align: center;
}
.alineacion-izquierda {
  text-align: left;
}
.alineacion-derecha {
  text-align: right;
}

/*================================
 CONTENIDO
==================================*/

/* :::::::::: MAIN:::::::::: */
main {
  background: #2b3e50;
  min-height: 400px;
  padding-bottom: 3rem;
}

/* :::::::::: HEADER:::::::::: */

header {
  border-bottom: 1px solid #333;
  background-color: #1c2935;
}


/*··························· Barra de Navegacion  */
.nav-bar {
  /* padding: 10px; */
  display: flex;
  min-height: 100px;
}
.nav-bar h1 {
  width: 20%;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-nav {
  display: flex;
  width: 50%;
}
.main-nav ul {
  display: flex;
  width: 100%;
}
.main-nav ul li {
  /* border-left: 1px solid #222; */
  display: flex;
  flex: 1;
  position: relative;
}
.main-nav ul li:hover ul {
  display: block;
}
.main-nav ul ul {
	display: block;
  position: absolute;
  top:100px;
  display: none;
  background-color: #111e2b;
}
.main-nav ul li:last-child {
  /* border-right: 1px solid #222; */
}

.main-nav ul li a {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: #7fffd4;
  font-size: 24px;
}
.main-nav ul li a:hover {
  background-color: #03383f;
}

.main-nav ul > li > ul > li {
  height: 50px;
}
.main-nav ul > li > ul > li a {
  font-size: 18px;
}

/*··························· Caja de Busqueda (search box)  */
.search-form {
  display: flex;
  background-color: #fff;
  border-radius: 28px;
}
.search-form:focus-within {
  border: 3px solid aquamarine;
}
.search-box {
  width: 30%;
  color: aliceblue;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.search-box input[type="text"] {
  padding: 6px;
  border: none;
  font-size: 17px;
  border-radius: 28px 0 0 28px;
}
.boton-lupa {
  border: none;
  box-shadow: none;
  background-color: #fff;
  padding-right: 5px;
  border-radius: 28px;
}
/* :::::::::: RECETAS:::::::::: */
.contenedor-links-botones-grandes {
  display: flex;
  justify-content: center;
}
.contenedor-links-botones-grandes a {
	display: flex;
	width: 200px;
	justify-content: center;
	height: 300px;
	flex-direction: column;
	align-items: center;
	font-size: 2rem;
	background: cadetblue;
	border-radius: 10px;
}
.contenedor-links-botones-grandes a:first-child {
	margin-right: 5px;
}
.titulo-seccion {
  font-size: 2rem;
  padding: 2rem 0;
}
/*================================
 Footer
==================================*/
footer {
  background: #1c2935;
  padding: 0;
  min-height: 200px;
}
.main-footer {
	min-height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.bottom-footer {
  background: #0e1924;
  display: flex;
  justify-content: center;
}

@media (max-width: 470px) {
}

/* 

Colores: 
- Header bg: #1c2935
- Footer bg: #1c2935
- Main bg: #2b3e50


*/
